@import 'materialize';
@import 'ember-cli-materialize';

body {
  background-color: #f9fbe7;
}

body > .ember-view {
  display:        flex;
  min-height:     100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.tabs .tab {
  letter-spacing: 0.15px;
}

.tabs .tab a{
  color: #E65100;
}

.tabs .tab a:hover {
  color: #FF6F00;
}

.tabs .indicator {
  background-color: #E65100;
}

.container {
  margin-left: 8%;
  margin-right: 8%;
}

.collection .collection-item.active {
  background-color: #80DEEA;
  color: #E65100;
}

.collection a.collection-item {
  color: #ffab40;
}

.card .card-image {
  border: 1px solid cyan;
}

#me {
  height: 13em;
  width: 13em;
  float: left;
  margin-right: 2em;
}

h2, h3, h4 {
  color: #37474F;
}

.row .col .s2 {
  width: 100%
}

.card {
  margin: 0;
}

footer.page-footer {
  // margin-top: 8em;
  background-color: #80DEEA;
  color: #E65100;
}

.footer-content {
  margin-left: 3%;
  margin-right: 3%;
}

#right {
  float: right;
  color: #E65100;
}
