@import 'materialize';
@import 'ember-cli-materialize';

body {
  background-color: #f9fbe7;
}

/* Make the footer sticky */
body > .ember-view {
  display:        flex;
  min-height:     100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
/*------------------------*/

/* Navigation */
.tabs .tab {
  letter-spacing: 0.15px;
}

.tabs .tab a{
  color: #E65100;
}

.tabs .tab a:hover {
  color: #FF6F00;
}

.tabs .indicator {
  background-color: #E65100;
}
/*--------------------*/

.container {
  margin-left: 8%;
  margin-right: 8%;
}

.collection .collection-item.active {
  background-color: #80DEEA;
  color: #E65100;
}

.collection a.collection-item {
  color: #ffab40;
  font-size: x-large;
}

.card .card-image {
  border: 1px solid lightgray;
}

// #image-card {
//   height: auto;
//   width: 100%;
// }

@media screen and (max-width: 480px){
  img {
    width: 100%;
  }
  .collection a.collection-item {
    font-size: small;
  }
}

#welcome {
  text-align: center;
  margin-left: 5em;
}

#cats {
  text-align: center;
  margin-left: 4em;
  color: #37474F;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  overflow: auto;
}

.carousel {
  margin-left: 4em;
}

.carousel .carousel-item {
  height: auto;
  width: 20em;
  top: -3em;
}

#linkedin {
  height: auto;
  width: 3em;
  margin-left: 0.75em;
}

#twitter {
  height: auto;
  width: 3em;
  margin-left: 0.75em;
}

#email {
  height: auto;
  width: 3em;
  margin-left: 0.75em;
}

#octocat {
  height: auto;
  width: 5em;
}

#contact {
  margin-left: 8em;
  width: 75%;
}

h2, h3, h4 {
  color: #37474F;
}

.row .col .s2 {
  width: 100%
}

.card {
  margin: 0;
}

footer.page-footer {
  background-color: #80DEEA;
  color: #E65100;
}

.footer-content {
  margin-left: 3%;
  margin-right: 3%;
}

#right {
  float: right;
  color: #E65100;
}
