{{outlet}}

<h2>I am a blog. Here are my listings.</h2>

<div class='card'>
  <div class='collection'>
    {{#link-to 'entry1' class='collection-item'}}Version Control Systems{{/link-to}}
    {{#link-to 'entry2' class='collection-item'}}CSS Positioning Concepts{{/link-to}}
    {{#link-to 'entry3' class='collection-item'}}Ruby Arrays vs Hashes{{/link-to}}
    {{#link-to 'entry4' class='collection-item'}}The Ruby method Cycle{{/link-to}}
    {{#link-to 'entry5' class='collection-item'}}Ruby Classes{{/link-to}}
  </div>
</div>
