{{outlet}}

<h2>Contact</h2>

<ul class='collection'>
  <li class='collection-item avatar'>
    <img src='assets/images/gmail.png' alt='' class='circle'>
    <a href='mailto:loganbbres@gmail.com' class='collection-item active'>loganbbres@gmail.com</a>
  </li>
  <li class='collection-item avatar'>
    <img src='assets/images/linkedin.png' alt='' class='circle'>
    <a href='https://www.linkedin.com/in/loganbresnahan' class='collection-item' target="_blank">linkedin</a>
  </li>
  <li class='collection-item avatar'>
    <img src='assets/images/twitterific.png' alt='' class='circle'>
    <a href='https://twitter.com/loganbresnahan' class='collection-item' target="_blank">twitter</a>
  </li>
</ul>
