{{outlet}}

<h2>Contact</h2>

<div class='collection'>
  <a href='mailto:loganbbres@gmail.com' class='collection-item active'>loganbbres@gmail.com</a>
  <a href='https://www.linkedin.com/in/loganbresnahan' class='collection-item' target="_blank">linkedin</a>
  <a href='https://twitter.com/loganbresnahan' class='collection-item' target="_blank">twitter</a>
</div>
