{{outlet}}

<h1>Contact</h1>

<p><a href='mailto:loganbbres@gmail.com'>loganbbres@gmail.com</a></p>
<p><a href='https://www.linkedin.com/in/loganbresnahan'>linkedin</a></p>
<p><a href='https://twitter.com/loganbresnahan'>twitter</a></p>
