{{outlet}}

<head>
  <title>Logan B's Bloggey</title>
  <meta charset="UTF-8">
</head>

<main>
  <h1>Cycle</h1>
  <h2>It's an Enumerator!</h2>
  <h3>(ノಠ益ಠ)ノ</h3>
  <h4>10_29_2015</h4>

  <section>
    <p>
      Cycle is an enumerator, what's an enumerator? It's a class in Ruby that allows a programmer to iterate over other objects. A usual instance of iteration in programming often happens when the programmer has a set of data like an array, <code>[1, 2, 3, 4, 5]</code> and they want to manipulate each item in that array. Cycle is an enumerator that will help do that! Here is an easy example:<br><img src="/assets/images/cycle_code.png"><br>Notice that cycle requires an argument so it knows how many times to cycle through the array, otherwise it will go on forever. Note that if you pass cycle a negative number it won't do anything. If you don't supply a code block it will return a funny looking thing like this: <code>#&ltEnumerator: [1, 2, 3]:cycle&gt</code>.
    </p>
    <p>
      There you have it. Cycle in a nutshell. It's great for iterating over objects a specified amount of times. Maybe you could use cycle to deal two decks of cards or create two different arrays with the same data!
    </p>
    <p>
      best,
    <br>
      Logan
    </p>
  </section>
</main>

<br>
{{md-pagination min=1 max=6 current=page range=5}}
