{{outlet}}

<br>
<img id='me' src='/assets/images/me.jpg'>
<h3>Welcome to Logan Bresnahan's website.</h3>
<h5>Or, if you're just interested in my code,</h5>
<a href='https://github.com/LoganBresnahan' target="_blank"><img src='/assets/images/github.png'></a>
