{{outlet}}

<h4 id='welcome'>Welcome to Logan Bresnahan's website</h4>
<div class='row'>

 <!-- <div class="col s4">
   <div class="card hoverable medium">
     <div class="card-image waves-effect waves-block waves-light">
       <img class='activator' src="/assets/images/me.jpg">
     </div>
     <div class="card-content">
       <span class="card-title activator grey-text text-darken-4">About Me<i class="material-icons right">more_vert</i></span>
       <p>
         <a href="https://github.com/LoganBresnahan" target="_blank"><img id='octocat' src='/assets/images/github.png' title='github'></a>
         <a href="mailto:loganbbres@gmail.com"><img id='email' src='/assets/images/email.png' title='email'></a>
         <a href="https://linkedin.com/in/loganbresnahan" target="_blank"><img id='linkedin' src='/assets/images/linkedin_circle.png' title='linkedin'></a>
         <a href="https://twitter.com/LoganBresnahan" target="_blank"><img id='twitter' src='/assets/images/twitterific.png' title='twitter'></a>
       </p>
     </div>
     <div class="card-reveal">
       <span class="card-title grey-text text-darken-4">About Me<i class="material-icons right">close</i></span>
       <p>I'm a web developer and this site was built using the EmberJS framework. When I'm not programming, I'm at home snuggling with my cats...and yes, those are my cats.</p>
       <p>Contact me if you want to chat. I respond best by email.</p>
     </div>
   </div>
 </div> -->
<div class='col s4'>
 {{#md-card title="About Me"
    image="/assets/images/me.jpg"
    activator=true
    id="card-reveal"}}

    {{#md-card-content}}
      <a href="https://github.com/LoganBresnahan" target="_blank"><img id='octocat' src='/assets/images/github.png' title='github'></a>
      <a href="mailto:loganbbres@gmail.com"><img id='email' src='/assets/images/email.png' title='email'></a>
      <a href="https://linkedin.com/in/loganbresnahan" target="_blank"><img id='linkedin' src='/assets/images/linkedin_circle.png' title='linkedin'></a>
      <a href="https://twitter.com/LoganBresnahan" target="_blank"><img id='twitter' src='/assets/images/twitterific.png' title='twitter'></a>
    {{/md-card-content}}

    {{#md-card-reveal}}
      <p>For me, it's about waking up each day and creating something useful and gratifying. Whether it's building a Rails app or a one page website in JavaScript, software development gives me the tools to create something meaningful. Right now I'm primarily focused on Ruby, JavaScript, and Go - but I'm always ready to pick up the next thing.</p>
      <p>Before starting my programming career I worked in a few different industries: insurance, finance, marketing, catering, and many more. They were all fantastic opportunities and I learned different skills between them. Most meaningfully, I was fortunate enough to work with a lot of really wonderful people throughout the years, and it's those great people that helped shape the person I am today.</p>
      <p>Now, I'm fully dedicated to web development and can't wait to see what's next. Feel free to connect with me.</p>
    {{/md-card-reveal}}

  {{/md-card}}
</div>

<!-- {{x-slider}}
<div class="slider">
    <ul class="slides">
      <li>
        <img src="http://lorempixel.com/580/250/nature/1">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/2">
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3">
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div> -->

  {{x-carousel}}
  <div class='col s8'>
    <h5 id='cats'>...these are my cats</h5>
    <div class="carousel">
      <a id='first' class="carousel-item" href="#one!"><img src="/assets/images/cat9.jpg" title='marty'></a>
      <a class="carousel-item" href="#two!"><img src="/assets/images/cat2.jpg" title='stacey&marty'></a>
      <a class="carousel-item" href="#three!"><img src="/assets/images/cat1.jpg" title='marty'></a>
      <a class="carousel-item" href="#four!"><img src="/assets/images/cat4.jpg" title='stacey'></a>
      <a class="carousel-item" href="#five!"><img src="/assets/images/cat5.jpg" title='stacey&marty'></a>
      <a class="carousel-item" href="#six!"><img src="/assets/images/cat6.jpg" title='stacey'></a>
      <a class="carousel-item" href="#seven!"><img src="/assets/images/cat8.jpg" title='stacey'></a>
      <a class="carousel-item" href="#eight!"><img src="/assets/images/cat11.jpg" title='marty'></a>
    </div>

    <div class="carousel carousel-slider">
      <a class="carousel-item" href="#one!"><img src="/assets/images/cat9.jpg"></a>
      <a class="carousel-item" href="#two!"><img src="/assets/images/cat2.jpg"></a>
      <a class="carousel-item" href="#three!"><img src="/assets/images/cat1.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="/assets/images/cat4.jpg"></a>
      <a class="carousel-item" href="#five!"><img src="/assets/images/cat5.jpg"></a>
      <a class="carousel-item" href="#six!"><img src="/assets/images/cat6.jpg"></a>
      <a class="carousel-item" href="#seven!"><img src="/assets/images/cat8.jpg"></a>
      <a class="carousel-item" href="#eight!"><img src="/assets/images/cat11.jpg"></a>
    </div>
  </div>

</div>
