{{outlet}}

<h4 id='welcome'>Welcome to Logan Bresnahan's website.</h4>

<div class='row'>
<div id='me-card'>

 <div class="col s4">
   <div class="card hoverable medium">
     <div class="card-image waves-effect waves-block waves-light">
       <img class='activator' id='me' src="/assets/images/me.jpg">
     </div>
     <div class="card-content">
       <span class="card-title activator grey-text text-darken-4">About Me<i class="material-icons right">more_vert</i></span>
       <p><a href="https://github.com/LoganBresnahan" target="_blank">Github<img id='octocat' src='/assets/images/github.png'></a></p>
     </div>
     <div class="card-reveal">
       <span class="card-title grey-text text-darken-4">About Me<i class="material-icons right">close</i></span>
       <p>I'm a web developer and this site was built using the EmberJS framework. When I'm not programming, I'm at home snuggling with my cats.</p>
       <p>Contact me if you want to chat. I respond best by email.</p>
     </div>
   </div>
 </div>

<div class='col s8'>
<div id='contact'>
 <div class='card'>
   <ul class='collection'>
     <li class='collection-item avatar'>
       <img src='assets/images/email.png' alt='' class='circle'>
       <a href='mailto:loganbbres@gmail.com' class='collection-item'>loganbbres@gmail.com</a>
     </li>
     <li class='collection-item avatar'>
       <img src='assets/images/linkedin_circle.png' alt='' class='circle'>
       <a href='https://www.linkedin.com/in/loganbresnahan' class='collection-item' target="_blank">linkedin</a>
     </li>
     <li class='collection-item avatar'>
       <img src='assets/images/twitterific.png' alt='' class='circle'>
       <a href='https://twitter.com/loganbresnahan' class='collection-item' target="_blank">twitter</a>
     </li>
   </ul>
 </div>
</div>
</div>

</div>
</div>
