{{outlet}}

<br>

<div id='me-card'>
<div class="row">
   <div class="col s12 m4">
     <div class="card medium">
       <div class="card-image waves-effect waves-block waves-light">
         <img class='activator' id='me' src="/assets/images/me.jpg">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">About Me<i class="material-icons right">more_vert</i></span>
         <p><a href="https://github.com/LoganBresnahan" target="_blank"><img id='octocat' src='/assets/images/github.png'></a></p>
       </div>
     </div>
   </div>
 </div>
 </div>
<!-- <img id='me' src='/assets/images/me.jpg'> -->
<h3>Welcome to Logan Bresnahan's website.</h3>
<h5>Or, if you're just interested in my code,</h5>
<a href='https://github.com/LoganBresnahan' target="_blank"><img src='/assets/images/github.png'></a>
