{{outlet}}

<h2>My Projects</h2>

{{#md-card title='Best-Thing-Ever'
  titleClass='cyan-text'
  image='/assets/images/best-thing-ever.png'
  id='image-card'}}

  {{#md-card-content}}
    Best-Thing-Ever is a web application built on Rails where the user makes a choice between which musical artists are the best.
  {{/md-card-content}}

  {{#md-card-action}}
    <a href='http://best-thing-ever.herokuapp.com/' target="_blank">best-thing-ever.com</a>
    <a href='https://github.com/pdynowski/best-thing-ever' target="_blank">Github repository</a>
  {{/md-card-action}}
{{/md-card}}
<br>
{{#md-card title='Meeple'
  titleClass='cyan-text'
  image='/assets/images/meeple.png'
  id='image-card'}}

  {{#md-card-content}}
    Meeple is a board-game social network built on Rails.
  {{/md-card-content}}

  {{#md-card-action}}
    <a href='http://jtron-meeple.herokuapp.com/' target="_blank">jtron-meeple.com</a>
    <a href='https://github.com/LoganBresnahan/public-client-project-challenge' target="_blank">Github repository</a>
  {{/md-card-action}}
{{/md-card}}
